@model  MVC_cafe.Models.Account

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/myLayout.cshtml";
}

<link rel="stylesheet" href="~/File/CSS/revenue.css" />
<style>
    .bieudo {
        margin-top: 100px;
        height: 500px;
        width: 100%;
        background:#ffffff;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .bieudo img{
        height: 400px;
        width:80%;
    }
</style>
<h2>Quản lý nghiệp vụ quán cafe</h2>
<hr />
    <div class="revenue_content">
        <div class="revenue_item" style="border-top: 5px solid #ff6a00;">
            <h3>Doanh thu</h3>
            <p>......</p>
        </div>
        <div class="revenue_item" style="border-top: 5px solid #ff6a00;">
            <h3>Quản lý</h3>
            <p>1</p>
         </div>
         <div class="revenue_item" style="border-top: 5px solid #ff6a00;">
            <h3>Nhân viên</h3>
            <p>2</p>
         </div>
         <div class="revenue_item" style="border-top: 5px solid #ff6a00;">
            <h3>Đơn hàng</h3>
            <p>7</p>
         </div>
    </div>
    <div class="bieudo">
        <img src="~/File/Images/bieudo.jpg" />
    </div>


